RewriteEngine On
RewriteBase /Devoir_Touche_Pas_Au_Klaxon/PHP/public/

# Si le fichier ou le dossier n'existe pas, rediriger vers index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]